* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body {
    width: 100%;
    min-height: 100vh;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.img-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.img-phone img {
    height: 50rem;
}
.continue-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}
.photo {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.group:nth-child(1) {
    min-height: 19rem;
}
.logo {
    height: 3rem;
}
.photo img {
    height: 6rem;
}
.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
}
.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: #a0a0a0;
}
.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}
.app-download:nth-child(1) {
    background-image: url('./img/applestore.png');
}
.app-download:nth-child(2) {
    background-image: url('./img/googleplay.png');
}
@media (max-width: 1024px) {
    .wrapper {
        width: 95%;
    }
}
@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }
    .wrapper {
        width: 90%;
    }
    .img-phone {
        display: none;
    }
    .continue-login {
        width: 100%;
    }
    .group {
        border: none;
    }
}
